@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

section {
  text-align: center;
}

.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

th, td {
  font-weight: normal;
  padding: 0;
}

tbody {
  vertical-align: inherit;
}

/* ===============================
header
==================================*/
.header {
  position: relative;
  width: 100%;
  height: 620px;
  background: url('img/header.png');
  background-size: cover;
  text-align: center;
  color: #fff;
  font-family: myriad-pro, sans-serif;
}



.header_nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.position-change {
  position: fixed;
  top: 0;
  z-index: 100;

}

.color-change {
  color: #2b2b2b;
  background: #fff;
  border-bottom: 1px solid #a0a0a0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

}

.header_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_logo {
  font-size: 36px;
}

.hamburger-menu {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
}

.hamburger-menu_line,
.hamburger-menu_line::before,
.hamburger-menu_line::after, .hamburger-menu_line--dummy {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
}

.color-change span,
.color-change span::before,
.color-change span::after {
  background: #2b2b2b;
}

.hamburger-menu_line::before,
.hamburger-menu_line::after {
  content: '';
}

.hamburger-menu_line, .hamburger-menu_line--dummy {
  top: 50%;
  transition: all .3s;
}

.hamburger-menu_line {
  top: 50%;
}

.hamburger-menu_line::before {
  top: calc(50% - 8px);
  transition:all .3s;
}

.hamburger-menu_line::after {
  top: calc(50% + 8px);
  transition:all .3s;
}

.header-menu {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: rgba(255, 255, 255, .9);
  transition: all .3s;

}

.header-menu-item {
  padding: 0;
  line-height: 11vh;
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #ccc;
}



.header-title {
  padding-top: 240px;
  font-size: 120px;
  font-weight: normal;
}

.header-title-sub {
  word-spacing: 4px;
}

.header-title-sub::before,
.header-title-sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

.twitter {
  padding: 80px 0;
  font-size: 34px;
}

.twitter a {
  color: #fff;
}

/* ===============================
concept
==================================*/

.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.u-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  transform: translateX(-50%);
}

.u-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.concept {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}


/* ===============================
work
==================================*/
.work {
  width: 100%;
  padding-top: 80px;
}

.work-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 1680px;
}

.work-content {
  width: 420px;
  padding-bottom: 80px;
  text-align: left;
  line-height: 1.8;
}

.work-content:nth-of-type(1) {order: 1;}
.work-content:nth-of-type(2) {
  order: 3;
  margin-top: 120px;
}

.work-content:nth-of-type(3) {order: 2;}
.work-content:nth-of-type(4) {order: 4;}

.work-content-image {
  width: 100%;
  margin-bottom: 16px;
}

.work-content-heading {
  font-size: 24px;
}

.work-content-text {
  letter-spacing: 1.5px;
}

/* ===============================
florist
==================================*/
.florist {
  width: 100%;
  padding-top: 80px;
  background: linear-gradient(#ededed 60%, #fff 40%);
}

.florist-persons {
  display: flex;
  justify-content: space-between;
}

.florist-person {
  width: 300px;
  padding-bottom: 40px;
  text-align: left;
  line-height: 1.8;
  font-size: 0;
}

.florist-person-image {
  width: 100%;
  margin-bottom: 12px;
}

.florist-person-name {
  font-size: 24px;
}

.florist-person-introduce {
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* ===============================
shop-information
==================================*/
.shopInformation {
  width: 100%;
  padding: 80px 0 120px;
}

.shopInformation-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopInformation-image {
  width: 50%;
}

.shopInformation-table {
  width: 45%;
  border-spacing: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 2;
}


.shopInformation-table-heading {
  width: 25%;
  border-right: 1px solid #a0a0a0;
}

/* ===============================
contactUs
==================================*/
.contactUs {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(2255, 255, 255, 0.6)),url(img/contact_us.png);
  background-size: cover;
}

.btn-contact {
  position: relative;
  display: inline-block;
  width: 360px;
  padding-left: 40px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #a0a0a0;
  background: #fff;
  font-size: 20px;
}

.btn-contact::before, .btn-contact::after {
  content: '';
  position: absolute;
  border-radius: 2px;
}

.btn-contact::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
}

.btn-contact::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  transform: rotate(45deg);
}





